

:root{
    --color-blue: #0A3871; 
    --color-gris: #D8DFE8;
    --color-gray: #495057;
}

body{
    background-color: #F3F5FC;
    font-family: "Inter", sans-serif;
}
.textarea {
    font-family: "Inter", sans-serif;
}

.header{
    width: 90%;
    margin: auto;
}

.header__logo{
    margin-top: 40px;
}

.main{
    width: 80.5%;
    margin: auto 40px auto auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: calc(100vh - 91px - 72px);
    align-items: end;
}

.izquierda{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ingreso__texto{
    width: 80%;
    font-size: 32px;
    color: var(--color-blue);
    resize: none;
    background: none ;
    border: none;
    outline: none;
}
.ingreso__texto::placeholder{
    color: var(--color-blue); 
}


.izquierda__footer{
    font-size: 12px;
    color: var(--color-gray);
}

.izquierda__botones{
    display: flex;
    gap: 24px;
    margin-top: 16px;
    flex-wrap: wrap;
}

.boton__encriptar,
.boton__desencriptar,
.boton__copiar{
    border: 1px solid var(--color-blue);
    cursor: pointer;
    max-width: 328px;
    min-width: 160px;
    width: 40%;
    height: 67px;
    font-size: 16px;
    border-radius: 24px;
}    
.boton__encriptar{    
    background-color: var(--color-blue);
    color: white;
}
.boton__desencriptar{
    background-color: var(--color-gris);
    color: var(--color-blue);
}

.derecha{
    background-color: #ffffff;
    height: calc(100% + 48px);
    border-radius: 32px;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.derecha.ajustar{
    justify-content: space-between;
}

.muñeco{
    width: 100%;
}
.oculto{
    display: none;
}

.mensaje__final{
    background: none;
    border: none;
    outline: none;
    resize: none;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.mensaje__final.ajustar{
    text-align: left;
    font-weight: lighter;
    height: 80%;
}

.derecha__info{
    font-size: 16px;
    color: var(--color-gray);
    text-align: center;
}

.boton__copiar{
    width: 100%;
    display: none;
    background-color: transparent;
    color: var(--color-blue);
}

@media screen and (max-width: 800px) {
    .main{
        grid-template-columns: 1fr;
        grid-template-rows: 75% auto;
        width: auto;
        margin: auto 40px;
    }
    .izquierda__botones{
        justify-content: center;
    }
    .boton__encriptar,
    .boton__desencriptar{
        width: 45%;
    }
    .derecha{
        height: 100%;
    }
    .muñeco{
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .main{
        margin: auto 16px;
    }
    .boton__encriptar,
    .boton__desencriptar{
        max-width: 100%;
        width: 100%;
    }
}